@font-face {
  font-family: "Mona-Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Regular"),
    url("../assets/fonts/Mona-Sans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Regular Narrow";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Regular Narrow"),
    url("../assets/fonts/Mona-Sans-RegularNarrow.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Regular Wide";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Regular Wide"),
    url("../assets/fonts/Mona-Sans-RegularWide.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Regular Italic"),
    url("../assets/fonts/Mona-Sans-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Regular Narrow Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Regular Narrow Italic"),
    url("../assets/fonts/Mona-Sans-RegularNarrowItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Regular Wide Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Regular Wide Italic"),
    url("../assets/fonts/Mona-Sans-RegularWideItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans UltraLight";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans UltraLight"),
    url("../assets/fonts/Mona-Sans-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans UltraLight Narrow";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans UltraLight Narrow"),
    url("../assets/fonts/Mona-Sans-UltraLightNarrow.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans UltraLight Wide";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans UltraLight Wide"),
    url("../assets/fonts/Mona-Sans-UltraLightWide.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans UltraLight Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans UltraLight Italic"),
    url("../assets/fonts/Mona-Sans-UltraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans UltraLight Narrow Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans UltraLight Narrow Italic"),
    url("../assets/fonts/Mona-Sans-UltraLightNarrowItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans UltraLight Wide Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans UltraLight Wide Italic"),
    url("../assets/fonts/Mona-Sans-UltraLightWideItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Light";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Light"),
    url("../assets/fonts/Mona-Sans-Light.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Light Narrow";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Light Narrow"),
    url("../assets/fonts/Mona-Sans-LightNarrow.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Light Wide";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Light Wide"),
    url("../assets/fonts/Mona-Sans-LightWide.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Light Italic"),
    url("../assets/fonts/Mona-Sans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Light Narrow Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Light Narrow Italic"),
    url("../assets/fonts/Mona-Sans-LightNarrowItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Light Wide Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Light Wide Italic"),
    url("../assets/fonts/Mona-Sans-LightWideItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Medium"),
    url("../assets/fonts/Mona-Sans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Medium Narrow";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Medium Narrow"),
    url("../assets/fonts/Mona-Sans-MediumNarrow.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Medium Wide";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Medium Wide"),
    url("../assets/fonts/Mona-Sans-MediumWide.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Medium Italic"),
    url("../assets/fonts/Mona-Sans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Medium Narrow Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Medium Narrow Italic"),
    url("../assets/fonts/Mona-Sans-MediumNarrowItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Medium Wide Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Medium Wide Italic"),
    url("../assets/fonts/Mona-Sans-MediumWideItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans SemiBold"),
    url("../assets/fonts/Mona-Sans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans SemiBold Narrow";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans SemiBold Narrow"),
    url("../assets/fonts/Mona-Sans-SemiBoldNarrow.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans SemiBold Wide";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans SemiBold Wide"),
    url("../assets/fonts/Mona-Sans-SemiBoldWide.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans SemiBold Italic"),
    url("../assets/fonts/Mona-Sans-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans SemiBold Narrow Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans SemiBold Narrow Italic"),
    url("../assets/fonts/Mona-Sans-SemiBoldNarrowItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans SemiBold Wide Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans SemiBold Wide Italic"),
    url("../assets/fonts/Mona-Sans-SemiBoldWideItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Bold"),
    url("../assets/fonts/Mona-Sans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Bold Narrow";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Bold Narrow"),
    url("../assets/fonts/Mona-Sans-BoldNarrow.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Bold Wide";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Bold Wide"),
    url("../assets/fonts/Mona-Sans-BoldWide.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Bold Italic"),
    url("../assets/fonts/Mona-Sans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Bold Narrow Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Bold Narrow Italic"),
    url("../assets/fonts/Mona-Sans-BoldNarrowItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Bold Wide Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Bold Wide Italic"),
    url("../assets/fonts/Mona-Sans-BoldWideItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans ExtraBold"),
    url("../assets/fonts/Mona-Sans-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans ExtraBold Narrow";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans ExtraBold Narrow"),
    url("../assets/fonts/Mona-Sans-ExtraBoldNarrow.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans ExtraBold Wide";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans ExtraBold Wide"),
    url("../assets/fonts/Mona-Sans-ExtraBoldWide.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans ExtraBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans ExtraBold Italic"),
    url("../assets/fonts/Mona-Sans-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans ExtraBold Narrow Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans ExtraBold Narrow Italic"),
    url("../assets/fonts/Mona-Sans-ExtraBoldNarrowItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans ExtraBold Wide Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans ExtraBold Wide Italic"),
    url("../assets/fonts/Mona-Sans-ExtraBoldWideItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Black";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Black"),
    url("../assets/fonts/Mona-Sans-Black.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Black Narrow";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Black Narrow"),
    url("../assets/fonts/Mona-Sans-BlackNarrow.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Black Wide";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Black Wide"),
    url("../assets/fonts/Mona-Sans-BlackWide.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Black Italic"),
    url("../assets/fonts/Mona-Sans-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Black Narrow Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Black Narrow Italic"),
    url("../assets/fonts/Mona-Sans-BlackNarrowItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona-Sans Black Wide Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Mona-Sans Black Wide Italic"),
    url("../assets/fonts/Mona-Sans-BlackWideItalic.woff") format("woff");
}

@font-face {
  font-family: "Mona Sans Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Mona Sans Thin"),
    url("../assets/fonts/Mona-Sans.woff") format("woff");
}
