/* ---------- FONTS ----------      */
@import "fonts.css";

/* ---------- CSS RESET ----------  */
@import "reset.css";

/* ---------- ANIMATIONS ---------  */  
@import "animations.css";

/* ---------- OTHER UTILS --------  */
@import "utils.css";

/* ---------- CUSTOM SCROLLBAR ---- */
@import "scrollbar.css";

/* ---------- VARIABLES ----------- */
:root {
  --primaryBlack: #272727;
  --primaryLightBlack: #3d3d3d;
  --primaryGreen: #d7fe62;
  --primaryWhite: #ffffff;
  --primaryOrange: #ff9454;
  --primaryGrey: #d4d4d4;
  --primarySans: "Mona Sans", sans-serif;
  --borderRadiusBtn: 5px;
}

/* ---------- DEFAULT VALUES ---------- */
html {
  font-family: "Mona-Sans Light Wide", sans-serif;
  background-color: var(--primaryWhite);
  color: var(--primaryBlack);
}

/* ---------- BUTTONS ---------- */
.greenBtn {
  background-color: transparent;
  background-color: var(--primaryBlack);
  border: 1px solid var(--primaryGreen);
  color: var(--primaryGreen);
  border-radius: var(--borderRadiusBtn);
  font-family: "Mona-Sans Medium Wide", sans-serif;
  padding: 0.5rem;
  cursor: pointer;
}

/* ---------- CHAT UI ---------- */
.chatUI {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 3rem;
}

/* ---------- NAV / SIDEBAR ---------- */
.sideBar {
  z-index: 999;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--primaryBlack);
  color: var(--primaryWhite);
}

.sideBar_top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sideBar_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sideBar_logo h2 {
  text-align: center;
  line-height: 150%;
}

.sideBar_logo_emphasizedText {
  font-family: "Mona-Sans Bold Wide", sans-serif;
}

.sidebarIcon {
  width: 15px;
  height: 15px;
}

.sideBar_actions {
  display: flex;
  gap: 0.3rem;
  justify-content: space-between;
}

.sideBar_actions_newChatBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
}

.sideBar_actions .plusIcon {
  width: 15px;
  height: 15px;
}

.sideBar_chatHistory {
  padding-top: 4rem;
}

.sideBar_chatHistory_list {
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow-y: scroll;
}

.sideBar_chatHistory_msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--borderRadiusBtn);
  padding: 0.8rem 0.5rem 1rem 0.8rem;
  font-family: "Mona-Sans Regular", sans-serif;
  background-color: transparent;
  color: var(--primaryWhite);
  border: none;
  cursor: pointer;
}

.sideBar_chatHistory_msg.active {
  background-color: #676767;
}

.sideBar_chatHistory_msg.active:hover {
  background-color: #3d3d3d;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sideBar_chatHistory_msg:hover {
  background-color: #3d3d3d;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sideBar_chatHistory_msg_text {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.sideBar_chatHistory_msg svg {
  width: 18px;
  height: 18px;
  color: #9b9b9b;
}

.sideBar_chatHistory_heading p {
  opacity: 0.7;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sideBar_profile {
  border-top: 2px solid rgb(83, 83, 83);
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

.sideBar_profile_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.sideBar_profile_info p {
  font-family: "Mona-Sans Medium Wide", sans-serif;
  font-size: 0.9rem;
}

.sideBar_profile .sideBar_profile_info img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.sideBar_profile_settingsBtn {
  background-color: transparent;
  border: none;
  color: var(--primaryWhite);
  cursor: pointer;
}

.sideBar_profile .dotIcon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

/* ---------- CHAT HISTORY ---------- */
.chatHistory_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 300px 1rem 600px;
  background-color: var(--primaryGreen);
}

.chat {
  padding: 2rem 300px 2rem 600px;
  display: flex;
  gap: 1rem;
}

.chat.chat_user {
  justify-content: end;
  flex-direction: row-reverse;
}

.chat_img {
  display: flex;
  align-items: flex-end;
  border-radius: 100%;
}

.chat img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.chat_msgInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.4rem;
  font-size: 0.9rem;
}

.chat_msgInfo_name {
  font-family: "Mona-Sans Medium Wide", sans-serif;
}

.chat_msgInfo_time {
  opacity: 0.7;
}

.chat_bubble {
  display: flex;
  align-items: flex-start;
  background-color: var(--primaryGreen);
  color: var(--primaryBlack);
  padding: 1rem 1rem;
  border-radius: 10px;
  font-family: "Mona-Sans Regular", sans-serif;
  line-height: 160%;
}

.chat.chat_user .chat_bubble {
  background-color: var(--primaryBlack);
  color: var(--primaryWhite);
}

/* ---------- MSG USER INPUT ---------- */
.clientInput {
  position: sticky;
  align-items: center;
  left: 0;
  bottom: 20px;
  padding-left: 600px;
  padding-right: 300px;
  z-index: 10;
}

.clientInput_field {
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryWhite);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.clientInput_field input {
  width: 100%;
  padding: 1.5rem;
  border: none;
  border-radius: 8px;
  font-family: "Mona-Sans Regular", sans-serif;
}

.clientInput_field button {
  margin-right: 1.5rem;
}

.msgBtn {
  background-color: var(--primaryWhite);
  border: none;
  cursor: pointer;
}

.msgBtn_icon {
  height: 20px;
  width: 20px;
  opacity: 0.8;
}

/* ---------- CHAT OVERLAY ---------- */
.chat_bottom_overlay {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 15vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}